/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/genomeannotation Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    mainScript = "main.nf"
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

nextflow.enable.strict = true

params {
    samplesheet = ''
    outdir = "results"
    publish_dir_mode = 'copy'
    singularity_cachedir = "singularity_cache"
    trace_report_suffix = ""
}

apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Disable process selector warnings by default.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline${params.trace_report_suffix}.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report${params.trace_report_suffix}.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace${params.trace_report_suffix}.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag${params.trace_report_suffix}.html"
    overwrite = true
}


profiles {
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    local {
        includeConfig 'conf/local.config'
    }

    farm {
        includeConfig 'conf/farm.config'
    }
}

includeConfig 'conf/modules.config'

