/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    genome-first-functional-profiling Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

manifest {
    mainScript = "main.nf"
    name = 'genome-first-functional-profiling'
    description = 'Whole genome sequencing reads mapped to genomes and then to genes for fast and highly accurate profiling of metagenomes.'
    version = '0.1'
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

nextflow.enable.strict = true

params {
    samplesheet = ''
    outdir = "results"
    publish_dir_mode = 'copy'
    singularity_cachedir = "singularity_cache"
    trace_report_suffix = ""

    bowtie2_num_secondary_mappings = 8
    min_ani = 0.95
    
    skip_qc = false
    skip_standardise = true
    sourmash_genome_selector = false
    sylph_genome_selector = true
    run_profiling = true
    reads_subsampling = -1
    remove_paired_suffix = 1  // 1: Yes, 0: No

    force_download_dbs = false
    download_dbs = false

    genome_species = ''
    genome2cds = ''
        
    ftp_fetch {
        max_retries = 5
        wait_retry = 60
        timeout = 60
        resume = true
        soft_fail = true
        delete_original = false
        max_forks = 10
    }

    databases {
        cache_path = "download_cache/databases"

        genome_catalogue {
            remote_path = ''
            local_path = ''
            files {
                sylph = ''
                sourmash = ''
                sylph_filepath_lookup = ''
                sourmash_filepath_lookup = ''
            }
        }
    }
}

apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Disable process selector warnings by default.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline${params.trace_report_suffix}.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report${params.trace_report_suffix}.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace${params.trace_report_suffix}.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag${params.trace_report_suffix}.html"
    overwrite = true
}


profiles {
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    local {
        includeConfig 'conf/local.config'
    }

    farm {
        includeConfig 'conf/farm.config'
    }
}

includeConfig 'conf/modules.config'

