singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
    runOptions = '--bind /lustre --bind /nfs --bind /data --bind /software'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
    // submitRateLimit = '5 sec'
    killBatchSize = 50
    queueSize = 2000
}

process {
    executor = 'lsf'

    // errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'terminate' }
    errorStrategy = 'terminate'
    maxRetries    = 0
    maxErrors     = '-1'
    cache         = 'lenient'

    cpus = 1
    queue = 'normal'
    memory = 1.Gb
    // clusterOptions = '-q normal -r "select[mem>=1GB] rusage[mem=1GB] span[ptile=1]" -n 1 -M 1GB'

    // withName: SYLPH_PROFILE {
    //     cpus = 4
    //     memory = 8.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[ptile=1]" -n 4 -M 8GB'
    // }

    // withName: SYLPH_QUERY {
    //     cpus = 4
    //     memory = 8.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[ptile=1]" -n 4 -M 8GB'
    // }

    // withName: SOURMASH_SKETCH {
    //     cpus = 1
    //     memory = 8.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[ptile=1]" -n 1 -M 8GB'
    // }

    // withName: SOURMASH_GATHER {
    //     cpus = 4
    //     memory = 8.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[ptile=1]" -n 4 -M 8GB'
    // }

    // withName: SOURMASH2FASTA {
    //     cpus = 1
    //     memory = 4.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>4GB] rusage[mem=4GB] span[ptile=1]" -n 1 -M 4GB'
    // }

    // withName: BOWTIE2_BUILD {
    //     cpus = 1
    //     memory = 16.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>16GB] rusage[mem=16GB] span[ptile=1]" -n 1 -M 16GB'
    // }

    // withName: BOWTIE2_ALIGN {
    //     cpus = 4
    //     memory = 16.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>16GB] rusage[mem=16GB] span[ptile=1]" -n 4 -M 16GB'
    // }

    // withName: BAM2CSV {
    //     cpus = 1
    //     memory = 1.Gb
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>1GB] rusage[mem=1GB] span[ptile=1]" -n 1 -M 1GB'
    // }
}
