singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

process {
    executor = 'lsf'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 0
    maxErrors     = '-1'

    cpus = 1
    memory = '1GB'
    queue = 'normal'
    clusterOptions = '-q normal -r "select[mem>1GB] rusage[mem=1GB] span[hosts=1]" -n 1 -M 1GB'

    // withName: SYLPH_PROFILE {
    //     cpus = 4
    //     memory = '8GB'
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[hosts=1]" -n 4 -M 8GB'
    // }

    // withName: SYLPH_PROFILE_ANI {
    //     cpus = 4
    //     memory = '8GB'
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[hosts=1]" -n 4 -M 8GB'
    // }

    // withName: SOURMASH_SKETCH {
    //     cpus = 1
    //     memory = '8GB'
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[hosts=1]" -n 1 -M 8GB'
    // }

    // withName: SOURMASH_GATHER {
    //     cpus = 4
    //     memory = '8GB'
    //     queue = 'normal'
    //     clusterOptions = '-q normal -r "select[mem>8GB] rusage[mem=8GB] span[hosts=1]" -n 4 -M 8GB'
    // }
}
