singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

process {
    executor = 'lsf'

    errorStrategy = { sleep(Math.pow(3, task.attempt) * 45 as long); return 'retry' }
    // errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    // errorStrategy = 'retry'
    maxRetries    = 3
    maxErrors     = '-1'

    cpus = 1
    memory = '1GB'
    queue = 'normal'
    clusterOptions = '-q normal -r "select[mem>1GB] rusage[mem=1GB] span[hosts=1]" -n 1 -M 1GB'

    withName: PYRODIGAL {
        cpus = 1
        memory = '1GB'
        queue = 'normal'
        clusterOptions = '-q normal -r "select[mem>1G] rusage[mem=1GB] span[hosts=1]" -n 1 -M 1GB'
    }
}
