/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_qc.fastp.json"
                }
            },
        ]
    }

    withName: MULTIQC {
        ext.prefix = { "${meta.id}_multiqc_report" }
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            pattern: "*multiqc_report.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}_multiqc_report.html" },
        ]
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        ext.args = 'qin=33 qout=33'
        errorStrategy = { sleep(Math.pow(4, task.attempt) * 60 as long); return 'retry' }
        maxRetries = 3
        cpus = 1
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = 8.h
    }

    withName: BBMAP_SAMPLE_FASTA {
        errorStrategy = { sleep(Math.pow(4, task.attempt) * 60 as long); return 'retry' }
        ext.args = "tossbrokenreads=t"
        maxRetries = 3
        cpus = 1
        memory = { 32.GB * Math.pow(2, task.attempt) }
        time = 8.h
    }

    withName: SYLPH_PROFILE {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sylph" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')){
                    return "${meta.id}_profile.tsv"
                }
            },
        ]
    }

    withName: SYLPH_QUERY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sylph" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')){
                    return "${meta.id}_ani_profile.tsv"
                }
            },
        ]
    }

    withName: SOURMASH_GATHER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sourmash" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.csv.gz')){
                    return "${meta.id}.csv.gz"
                }
            },
        ]
    }

    withName: SOURMASH2FASTA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/genome_database" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('contig_mapping.csv')){
                    return "${meta.id}_contig_mapping.tsv"
                }
                if (filename.contains('genomes.fna')){
                    return "${meta.id}_genomes.fna"
                }
            },
        ]
    }

    withName: BOWTIE2_ALIGN_BAM2SQLITE {
        ext.args = "-k ${params.bowtie2_num_secondary_mappings}"  // --fast
        ext.args2 = "--remove_paired_suffix ${params.remove_paired_suffix}"
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.sqlite.gz')){
                    return "${meta.id}.sqlite.gz"
                }
            },
        ]
    }

    withName: SQLITE2PROFILE_TOP {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/profiles/top" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: SQLITE2PROFILE_GREEDY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/profiles/greedy" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }
}
