/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: SYLPH_PROFILE {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sylph" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')){
                    return "${meta.id}_profile.tsv"
                }
            },
        ]
    }

    withName: SYLPH_QUERY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sylph" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')){
                    return "${meta.id}_ani_profile.tsv"
                }
            },
        ]
    }

    withName: SOURMASH_GATHER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/sourmash" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.csv.gz')){
                    return "${meta.id}.csv.gz"
                }
            },
        ]
    }

    withName: SOURMASH2FASTA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/genome_database" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('contig_mapping.csv')){
                    return "${meta.id}_contig_mapping.tsv"
                }
                if (filename.contains('genomes.fna')){
                    return "${meta.id}_genomes.fna"
                }
            },
        ]
    }

    withName: BOWTIE2_ALIGN {
        ext.args = "-k ${params.bowtie2_num_secondary_mappings}"  // --fast
        // publishDir = [
        //     path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/bowtie2" },
        //     mode: params.publish_dir_mode,
        //     saveAs: { filename ->
        //         if (filename.contains('.bam')){
        //             return "${meta.id}.bam"
        //         }
        //     },
        // ]
    }

    withName: BAM2CSV_TOP {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/profiles" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: BAM2CSV_GREEDY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${(int)(meta.idx/1000)}/${meta.id}/profiles" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                return filename
            },
        ]
    }

    withName: SEQKIT_SHUFFLE_FASTA {
        cpus = 1
        memory = { 32.GB * Math.pow(2, task.attempt) }
        time = 8.h
    }
}
